body {
  background-color: #f4f6f9;       /*Attributes for the body of web-page.*/
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.alert-custom {
  border-radius: 5px;
  font-weight: bold;
}

.card {
  border: none;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.0);
}

h1.display-4 {
  color: #171613;   /*Text color within the container. */
}


h3 {
  color: #535151;
}

.btn {
  border-radius: 10px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #ffffff;
}

.container {
  max-width: 2500px;
  max-height: 1000px;     /*Container body for the application. */
}
